:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --red-color:#dc3545;
    --yellow-color:#ffc107 ;
    --section-color:#eff7fa;
}

body{
   font-family: "Roboto", system-ui;
   
}
.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}
.main-title::after {
content: "";
position: absolute;
background-color: var(--green-color);
height: 3px;
width: 120px;
left: 50%;
transform: translateX(-50%);

}
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--green-color);
}
.navbar .search{
border-left: 1px solid var(--green-color);

}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: white;
    border-color:white ;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

.features .icons-holder{
    height: 200px;
}

.features .icons-holder svg{
left: 50%;
transform: translateX(-50%);
}

.features .icons-holder .number{
color: var(--section-color);
font-size: 12rem;

}
.features .icons-holder .pen{
    color: var(--green-color);
}
.work{
    background-color: var(--section-color);
}
.work .list{
  list-style: none;  
}
.work .list li{
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.work .list .active{
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.work .list li:not(.active):hover{
    color: var(--red-color);
}
.work .box{
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.work .box::before{
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height:calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: var(--green-color);
   opacity: 0.5;
   color: white;
   font-weight: bold;
   transition: 0.3s;
   font-size: 1.5rem;
   transform: translateX(calc(-100% - 5px));
   
}
.work .box:hover::before{
transform: translate(0);
}

 .stuff .descreption{
max-width: 500px;
margin: auto;

}
.stuff .text{
    max-width: 400px;
   
}
.team {
    background-color: var(--section-color);
}
.team .text p{
    max-width:1300px;
    margin: auto;
}
.team .card-title{
    background-color: var(--green-color);
    padding: 0;

    color: white;
    font-size: 1.5rem;
    padding: 10px;
    margin: -16px;
}

.project{
    background-color: var(--dark-color);
}
.blog .box-blog .box-body{
border-width: 1px;
border-style: solid;
border-color: transparent #6460605d #6460605d #6460605d;
}
.subscribe{
    background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
   
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe input::placeholder{
    color: white;
}
.subscribe .link a{
    color: var(--yellow-color);
    background-color: var(--dark-color);
}
footer{
    background-color: var(--dark-color);
}
footer .span{
color: var(--green-color);
}


footer .unstyled{
    list-style: none;
}
footer .unstyled li:not(:last-child) a svg{
padding: 6px;
color: white;
background-color: #0d6efd;
text-align: center;
}

footer .unstyled li:nth-child(4) a svg{
    padding: 6px;
    color: white;
    background-color:red;
    text-align: center;
    }